

body{
    background-color: rgba(0, 0, 0, 0.929);
    right: 0%;
    top: 0%;
    bottom: 0%;
    left: 0%;
    background-image: url(https://www.wallpapertip.com/wmimgs/165-1659799_free-space-pictures-without-copyright-background-galaxy-planet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute; 
}

html, body {width: 100vw; height: 100vh;}
div {width: 100%; height: 100%}


h1{
    position: absolute;
    top: 250px; left: 470px;
    color: azure;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
}

input{
    border-radius: 20px;
    border-color: rgb(54, 54, 210);
    border-width: 3px;
    position: relative;
    top: 420px; left: 650px;
}

.password{
    position: absolute;
    top: 445px; left: 650px;
}

#login{
    position: absolute;
    top: 470px; left: 700px;
    border-radius: 20px;
    border-color: rgb(54, 54, 210);
    border-width: 3px;
}
